<section class="l-pageCampaign">
<h3 class="c-common-headline c-common-headline--campaign">キャンプ地 キャンペーン</h3>
<div class="un-campaign">
<p class="un-campaign-lead">阪神タイガース×スカイＡ 春季キャンプ限定トートバッグをプレゼント!!</p>
<b class="un-campaign-heading">阪神タイガース×スカイＡ Spring Camp宜野座・うるま（具志川）<br>デジタルスタンプラリー2025</b>
<div class="un-campaign-content">
<div class="un-campaign-content__image">
<img src="/img/special/camp-report2025/logo01.png" alt="">
<img src="/img/special/camp-report2025/product01.png" alt="">
</div>
<div class="un-campaign-content__detail">
<dl class="un-campaign-dl">
<div class="un-campaign-dl__item">
<dt>【参加方法】</dt>
<dd>阪神タイガース春季キャンプの開催場所、宜野座村野球場【エントリー宜野座スタジアム】、うるま市具志川野球場のスカイＡブースにて、スマホでスタンプを集めよう。スタンプを２つ集めて、その場で限定トートバッグをゲット！</dd>
</div>
<div class="un-campaign-dl__item">
<dt>【開催期間】</dt>
<dd>[宜野座] 2025年2月1日（土）～2月28日<br>[うるま] 2025年2月1日（土）～2月25日<br>※休養日除く</dd>
</div>
<div class="un-campaign-dl__item">
<dt>【景品】</dt>
<dd>阪神タイガース×スカイＡ 春季キャンプ限定トートバッグ<br>※12,000名様限定となります。 無くなり次第終了となりますので予めご了承ください。</dd>
</div>
<div class="un-campaign-dl__item">
<dt>【景品】</dt>
<dd>
<ul class="un-campaign-map">
<li class="un-campaign-map__item">
<b class="un-campaign-map__heading">沖縄・宜野座キャンプ</b>
<div class="js-dialog">
<button class="js-dialog-open un-campaign-map__button">
<div class="un-campaign-map__image">
<img alt="宜野座村野球場【エントリー宜野座スタジアム】の地図" src="/img/special/camp-report2025/map01.png" />
</div>
</button>
<dialog class="js-dialog-content m-widget-dialog">
<div class="m-widget-dialog__head">
<b class="m-widget-dialog__title">宜野座村野球場<br>【エントリー宜野座スタジアム】</b>
</div>
<div class="m-widget-dialog__outer">
<button class="js-dialog-close m-widget-dialog__close"><span>閉じる</span></button>
<div class="m-widget-dialog__content">
<img alt="宜野座村野球場【エントリー宜野座スタジアム】の地図" src="/img/special/camp-report2025/map01.png" />
</div>
</div><!-- /.m-widget-dialog__outer -->
</dialog>
</div>
<p class="un-campaign-map__lead">宜野座村野球場<br>【エントリー宜野座スタジアム】</p>
</li><!-- /.un-campaign-map__item -->
<li class="un-campaign-map__item">
<b class="un-campaign-map__heading">沖縄・うるま（具志川）キャンプ</b>
<div class="js-dialog">
<button class="js-dialog-open un-campaign-map__button">
<div class="un-campaign-map__image">
<img alt="うるま市具志川野球場の地図" src="/img/special/camp-report2025/map02.png" />
</div>
</button>
<dialog class="js-dialog-content m-widget-dialog">
<div class="m-widget-dialog__head">
<b class="m-widget-dialog__title">うるま市具志川野球場</b>
</div>
<div class="m-widget-dialog__outer">
<button class="js-dialog-close m-widget-dialog__close"><span>閉じる</span></button>
<div class="m-widget-dialog__content">
<img alt="うるま市具志川野球場の地図" src="/img/special/camp-report2025/map02.png" />
</div>
</div><!-- /.m-widget-dialog__outer -->
</dialog>
</div>
<p class="un-campaign-map__lead">うるま市具志川野球場</p>
</li><!-- /.un-campaign-map__item -->
</ul>
</dd>
</div>
</dl>
</div>
</div>
</div><!-- /.un-campaign -->
</section><!-- /.l-pageCampaign -->