<section class="l-pageGift" id="js-scroll-03">
<h3 class="c-common-headline c-common-headline--gift">プレゼント情報</h3>
<div class="c-pageGift">
<div class="c-pageGift__content">
<div class="c-pageGift__image"><img alt="プレゼントイメージ" src="/img/special/camp-report2025/present01.jpg" /></div>
<div class="c-pageGift__text">
<h4 class="c-pageGift__title">
タイガース選手の直筆サイン入りグッズ<br>6クール連続視聴者プレゼント！
</h4>
<p class="c-pageGift__term">第6クールプレゼント受付期間：<br />
2/25（木） 11:00～3/1（月）23:59</p>
<div class="c-pageGift__button">
<a href="TODO" class="m-button-type2"><span class="m-button-type2__text">応募フォームへ</span></a>
</div>
</div>
</div>
</div><!-- /.c-pageGift --->
</section><!-- /.l-pageGift -->