<section class="l-pageSponsor">
<h2 class="m-heading-type02"><span>猛虎キャンプリポート2025<br>スポンサーのご紹介</span></h2>
<div class="un-sponsor">
<div class="un-sponsor-heading"><img src="/img/special/camp-report2025/title02.png"></div>
<dl class="un-sponsor-dl">
<dt>コハラゴム株式会社</dt>
<dd>
コハラゴム株式会社は、1950年に兵庫県神戸市で創業。<br>
国内外の有名ブランドタイヤを多数扱う通販サイト「タイヤホイールプレミアム」を運営しているタイヤ販売・卸売会社です。<br>
「タイヤホイールプレミアム」は、完全屋内倉庫保管のタイヤを低価格、即日発送、製造年表記、全国送料無料でお客様にお届けしております。
</dd>
</dl>
<div class="un-sponsor-link"><a href="TODO" target="_blank">詳細はこちら</a></div>
<div class="un-sponsor-content">
<div class="un-sponsor-content__movie">
<iframe width="452" height="254" src="https://www.youtube.com/embed/vVaHerQxQ0g?si=g3iQHAwCDDGM1pDp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="un-sponsor-content__icon"><img src="/img/special/camp-report2025/icon-sponsor01.png" alt="TIRE Wheel"></div>
<div class="un-sponsor-content__sns">
<b class="un-sponsor-content__snsHeading"><img src="/img/special/camp-report2025/text01.png" alt="follow us"></b>
<p class="un-sponsor-content__snsText">タイヤホイールプレミアム<br>公式SNS</p>
<ul class="m-list-sns">
<li class="m-list-sns__item"><a href="TODO" target="_blank"><img alt="X" src="/img/special/camp-report2025/icon-sns01.png"></a></li>
<li class="m-list-sns__item"><a href="TODO" target="_blank"><img alt="Instagram" src="/img/special/camp-report2025/icon-sns02.png"></a></li>
</ul>
</div>
</div>
</div><!-- /.un-sponsor -->
<ul class="m-list-article">
<li class="m-list-article__item">
<div class="m-list-article__image"><img alt="いきいき通販 国内最大級の福祉施設入居者様の「買い物代行業務支援サービス」です。" src="/img/special/camp-report2025/banner02.jpg" /></div>
<div class="m-list-article__content">
<b class="m-list-article__heading">株式会社ワンステップ</b>
<p class="m-list-article__text">いきいき通販は、国内最大級の福祉施設入居者様の「買い物代行業務支援サービス」です。全国で約5,300施設様にご利用いただいています。荷物は入居者様ごとに小分け梱包、送料は弊社負担。食料品・チルド食品から日用品まで、約5,000アイテムを取り揃えています。</p>
<div class="m-list-article__link"><a href="TODO" target="_blank">詳細はこちら</a></div>
</div>
</li>
<li class="m-list-article__item">
<div class="m-list-article__image"><img alt="インシュアランスサービス" src="/img/special/camp-report2025/banner03.jpg" /></div>
<div class="m-list-article__content">
<b class="m-list-article__heading">株式会社インシュアランスサービス</b>
<p class="m-list-article__text">「保険会社の代理人ではなく、お客様の代理人である」を経営理念とし1975年に創業。法人向けリスクマネジメント・コンサルティングを中心に、従来の保険に留まらない幅広いサービスでお客様のリスクに対応しています。</p>
<div class="m-list-article__link"><a href="TODO" target="_blank">詳細はこちら</a></div>
</div>
</li>
<li class="m-list-article__item">
<div class="m-list-article__image"><img alt="大同工業株式会社" src="/img/special/camp-report2025/banner04.jpg" /></div>
<div class="m-list-article__content">
<b class="m-list-article__heading">大同工業株式会社</b>
<p class="m-list-article__text">大同工業株式会社は、阪神タイガースのシルバーパートナーであり、掛布雅之氏をDIDブランドアンバサダーとして迎えABC虎バンチャンネルで「阪神タイガースDIDアワード」を提供しています。</p>
<div class="m-list-article__link"><a href="TODO" target="_blank">詳細はこちら</a></div>
</div>
</li>
</ul>
</section><!-- /.l-pageSponsor -->