{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "charset": "utf-8",
  "trailingComma": "none",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 80
}
