---
layout: layouts/base.ejs
title: TODO
stylesheet: /css/special/camp-report2025.css
script: /js/special/campReport2025.js
---
<div class="l-camp-report2020">
<div class="l-sns">
<div class="l-sns__wrap">
<a class="twitter-share-button" data-url="https://sky-a.asahi.co.jp/special/camp-report2025/" href="https://twitter.com/share">Tweet </a> <script>
! function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0],
p = /^http:/.test(d.location) ? 'http' : 'https';
if (!d.getElementById(id)) {
js = d.createElement(s);
js.id = id;
js.src = p + '://platform.twitter.com/widgets.js';
fjs.parentNode.insertBefore(js, fjs);
}
}(document, 'script', 'twitter-wjs');
</script></div>
</div>

<section class="l-pageHeader">
<div class="c-pageHeader-gallery"><img alt="" src="/img/special/camp-report2025/players01.jpg" /></div>
<div class="c-pageHeader">
  <h2 class="c-pageHeader__title"><img alt="TIRE Wheel PREMIMU Presents 猛虎キャンプ TIGERS CAMP REPORT 2025" src="../../img/special/camp-report2025/title01.png" /></h2>
  <div class="c-pageHeader__lead">
    <p class="c-pageHeader__information">2月1日より全日程生中継！</p>

    <p class="c-pageHeader__text">阪神タイガース春季キャンプ中継番組「猛虎キャンプリポート」は<br />
    今年もスカイAでは全日程生中継でお届け!!</p>

    <p class="c-pageHeader__button m-button"><a href="/howto/" onclick="ga('send', 'event', 'click', 'camp-report2021_guide_pc');"><span>視聴ガイドはこちら</span> </a></p>
    </div>
</div>
<div class="c-pageHeader-bottom">
  <div class="c-pageHeader-bottom__image"><img alt="" src="/img/special/camp-report2025/players02.jpg" /></div>
  <p class="c-pageHeader__credit">©阪神タイガース</p>
  <ul class="c-pageNavigation">
    <li class="c-pageNavigation__item">
      <a class="c-pageNavigation__link" href="#js-scroll-01">
        <div class="c-pageNavigation__icon"><img alt="放送スケジュール" src="../../img/special/camp-report2025/icon01-1.png"></div>
        <p class="c-pageNavigation__text">放送スケジュール</p>
      </a>
    </li>

    <li class="c-pageNavigation__item">
      <a class="c-pageNavigation__link" href="#js-scroll-02">
        <div class="c-pageNavigation__icon"><img alt="解説・実況" src="../../img/special/camp-report2025/icon02-1.png"></div>
        <p class="c-pageNavigation__text">解説・実況</p>
      </a>
    </li>

    <li class="c-pageNavigation__item">
      <a class="c-pageNavigation__link" href="#js-scroll-03">
        <div class="c-pageNavigation__icon"><img alt="プレゼント" src="../../img/special/camp-report2025/icon03-1.png"></div>
        <p class="c-pageNavigation__text">プレゼント</p>
      </a>
    </li>

    <li class="c-pageNavigation__item">
      <a class="c-pageNavigation__link" href="#js-scroll-04">
        <div class="c-pageNavigation__icon"><img alt="オリジナルコンテンツ" src="../../img/special/camp-report2025/icon04-1.png"></div>
        <p class="c-pageNavigation__text">オリジナルコンテンツ</p>
      </a>
    </li>
  </ul>
</div>

</section>



<div class="l-pageMain">
<div class="l-pageWrap">
<div class="c-pageMain__lead">
<p>トレーニングの様子を中心に、紅白戦、練習試合はもちろん<br />
ここでしか聞けない選手、コーチへのインタビューもたっぷりとお届け！<br />
豪華解説陣も勢ぞろい！</p>
</div>

<div class="c-pageMain__schedule schedule" id="js-scroll-01">
<h3 class="c-common-headline c-common-headline--schedule">2月の放送スケジュール</h3>

<table class="schedule-m schedule-m02">
<tbody>
<tr class="dow">
<td>月</td>
<td>火</td>
<td>水</td>
<td>木</td>
<td>金</td>
<td class="sat">土</td>
<td class="sun">日</td>
</tr>
<tr>
<td class="empty"><span class="date">27</span></td>
<td class="empty"><span class="date">28</span></td>
<td class="empty"><span class="date">29</span></td>
<td class="empty"><span class="date">30</span></td>
<td class="empty"><span class="date">31</span></td>
<td class="camp sat">
<span class="date">1</span>
<div>
<span class="team cool">第1クール</span>
<span class="team">キャンプイン</span>
<span class="live">[生]</span><br />
<span class="multitime">9:00～15:30</span><br>
<span class="video">[録]</span><br>
<span class="multitime">9:00～15:30</span>
<span class="guest">[解説] 糸井<br />[実況] 佐藤・高野 </span></div>
</td>
<td class="camp sun"><span class="date">7</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第2クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span> <span class="guest"> [解説] 岡田<br />
[実況] 佐藤・高野 </span></div>
</td>
</tr>
<tr>
<td class="camp"><span class="date">8</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第2クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 桧山<br />
[実況] 佐藤・高野 </span></div>
</td>
<td class="camp live-match"><span class="date">9</span> <span class="match-genre">キャンプ</span>
<div><span class="team">練習試合（宜野座）vs 北海道日本ハム</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:30</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 桧山<br />
[実況] 高野・佐藤 </span></div>
</td>
<td class="camp"><span class="date">10</span></td>
<td class="camp sun"><span class="date">11</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第3クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span> <span class="guest"> [解説] 狩野<br />
[実況] 北條・高野 </span></div>
</td>
<td class="camp"><span class="date">12</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第3クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 狩野<br />
[実況] 高野・北條 </span></div>
</td>
<td class="camp sat"><span class="date">13</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第3クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span> <span class="guest"> [解説] 上田<br />
[実況] 北條・高野 </span></div>
</td>
<td class="camp sun"><span class="date">14</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第4クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span> <span class="guest"> [解説] 上田<br />
[実況] 大野・北條 </span></div>
</td>
</tr>
<tr>
<td class="camp"><span class="date">15</span></td>
<td class="camp live-match"><span class="date">16</span> <span class="match-genre">キャンプ</span>
<div><span class="team">練習試合（宜野座）vs 東北楽天</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:30</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 下柳<br />
[実況] 大野・横山 </span></div>
</td>
<td class="camp"><span class="date">17</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第4クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 下柳<br />
[実況] 大野・横山 </span></div>
</td>
<td class="camp"><span class="date">18</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第4クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 湯舟<br />
[実況] 横山・高野 </span></div>
</td>
<td class="camp"><span class="date">19</span></td>
<td class="camp sat"><span class="date">20</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第5クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span> <span class="guest"> [解説] 湯舟<br />
[実況] 小縣・高野 </span></div>
</td>
<td class="camp live-match sun"><span class="date">21</span> <span class="match-genre">キャンプ</span>
<div><span class="team">練習試合（宜野座）vs 広島</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:30</span> <span class="guest"> [解説] 中田<br />
[実況] 伊藤・小縣 </span></div>
</td>
</tr>
<tr>
<td class="camp"><span class="date">22</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第5クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 緒方<br />
[実況] 小縣・伊藤 </span></div>
</td>
<td class="camp sun live-match"><span class="date">23</span> <span class="match-genre">キャンプ</span>
<div><span class="team">練習試合（宜野座）vs DeNA</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span> <span class="guest"> [解説] 緒方<br />
[実況] 小縣・福井 </span></div>
</td>
<td class="camp"><span class="date">24</span>
<div><span class="video">[録]</span><br />
<span class="multitime">2/21再放送<br />
19:00～23:30</span> <span class="guest"> [解説] 中田<br />
[実況] 伊藤・小縣 </span></div>
</td>
<td class="camp"><span class="date">25</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第6クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 関本<br />
[実況] 福井・湯浅 </span></div>
</td>
<td class="camp"><span class="date">26</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第6クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～23:30</span> <span class="guest"> [解説] 関本<br />
[実況] 北條・福井 </span></div>
</td>
<td class="camp sat"><span class="date">27</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第6クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span> <span class="guest"> [解説] 中西<br />
[実況] 佐藤・北條 </span></div>
</td>
<td class="camp sun"><span class="date">28</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">第6クール</span> <span class="live">[生]</span><br />
<span class="multitime">11:00～16:00</span> <span class="guest"> [解説] 濱中<br />
[実況] 横山・佐藤 </span></div>
</td>
</tr>
<tr>
<td class="camp"><span class="date">3／1</span> <span class="match-genre">キャンプ</span>
<div><span class="team cool">キャンプ打ち上げ</span> <span class="live">[生]</span><br />
<span class="multitime">10:30～13:00</span><br />
<span class="video">[録]</span><br />
<span class="multitime">19:00～21:30</span> <span class="guest"> [解説] 濱中<br />
[実況] 横山 </span></div>
</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
</tbody>
</table>

<p class="c-table-usage"><span class="c-table-usage__live">[生]</span>生中継 <span class="c-table-usage__video">[録]</span>録画中継<br />
※上記放送スケジュールは2月1日現在の内容となります。</p>
</div>
</div>
</div>

<section class="l-pageGuest" id="js-scroll-02">
<h3 class="c-common-headline c-common-headline--guest">解説・実況者 一覧</h3>

<div class="c-pageGuest">
<ul class="c-guestList">
<li class="c-guestList__item c-guestList__item--text">
<p class="c-guestList__title">解説</p>
</li>
<li class="c-guestList__item">
<div class="js-dialog">
<button class="js-dialog-open">
<div class="c-guestList__image"><img alt="掛布 雅之" src="../../img/special/camp-report2025/photo_guest_01.png" />
<p class="c-guestList__text">掛布 雅之</p>
</div>
</button>
<dialog class="js-dialog-content m-widget-dialog">
<div class="m-widget-dialog__outer">
<button class="js-dialog-close m-widget-dialog__close">閉じる</button>
<div class="m-widget-dialog__content">
<img alt="掛布 雅之" src="../../img/special/camp-report2025/photo_guest_01.png" />
<b class="m-widget-dialog__heading">掛布 雅之</b>
<p class="m-widget-dialog__text">
1955年5月9日（69歳）<br>
阪神タイガース（1974-1988）<br>
通算1656安打、349本塁打。1979年、1982年、1984年にホームラン王、1982年に打点王に輝くなど、数多くのタイトルを獲得しており、現役時代から「ミスタータイガース」と称されている。
</p>
</div>
</div><!-- /.m-widget-dialog__outer -->
</dialog>
</div>
</li>
</ul>

<ul class="c-guestList">
<li class="c-guestList__item c-guestList__item--text">
<p class="c-guestList__title">実況</p>
</li>
<li class="c-guestList__item">
  <div class="c-guestList__image"><img alt="掛布 雅之" src="../../img/special/camp-report2025/photo_guest_01.png" />
  <p class="c-guestList__text">掛布 雅之</p>
  </div>
</li>
</ul>
</div>
</section>

<section class="l-pageGift">
<h3 class="c-common-headline c-common-headline--gift">キャンプ地 キャンペーン</h3>

<div class="un-campaign">
  <p class="un-campaign-lead">阪神タイガース×スカイＡ 春季キャンプ限定トートバッグをプレゼント!!</p>
  <b class="un-campaign-heading">阪神タイガース×スカイＡ Spring Camp宜野座・うるま（具志川）<br>デジタルスタンプラリー2025</b>
  <div class="un-campaign-content">
    <div class="un-campaign-content__image">
      <img src="/img/special/camp-report2025/logo01.png" alt="">
      <img src="/img/special/camp-report2025/product01.png" alt="">
    </div>
    <div class="un-campaign-content__detail">
      <dl class="un-campaign-dl">
        <div class="un-campaign-dl__item">
          <dt>【参加方法】</dt>
          <dd>阪神タイガース春季キャンプの開催場所、宜野座村野球場【エントリー宜野座スタジアム】、うるま市具志川野球場のスカイＡブースにて、スマホでスタンプを集めよう。スタンプを２つ集めて、その場で限定トートバッグをゲット！</dd>
        </div>
        <div class="un-campaign-dl__item">
          <dt>【開催期間】</dt>
          <dd>[宜野座] 2025年2月1日（土）～2月28日<br>[うるま] 2025年2月1日（土）～2月25日<br>※休養日除く</dd>
        </div>
        <div class="un-campaign-dl__item">
          <dt>【景品】</dt>
          <dd>阪神タイガース×スカイＡ 春季キャンプ限定トートバッグ<br>※12,000名様限定となります。 無くなり次第終了となりますので予めご了承ください。</dd>
        </div>
        <div class="un-campaign-dl__item">
          <dt>【景品】</dt>
          <dd>
            <ul class="un-campaign-map">
              <li class="un-campaign-map__item">
                <b class="un-campaign-map__heading">沖縄・宜野座キャンプ</b>
                <div class="js-dialog">
                  <button class="js-dialog-open un-campaign-map__button">
                    <img alt="" src="/img/special/camp-report2025/map01.png" />
                  </button>
                  <dialog class="js-dialog-content m-widget-dialog">
                    <div class="m-widget-dialog__outer">
                      <button class="js-dialog-close m-widget-dialog__close">閉じる</button>
                      <b class="m-widget-dialog__title">掛布 雅之</b>
                      <div class="m-widget-dialog__content">
                        <img alt="" src="/img/special/camp-report2025/map01.png" />
                      </div>
                    </div><!-- /.m-widget-dialog__outer -->
                  </dialog>
                </div>
                <p class="un-campaign-map__lead">宜野座村野球場<br>【エントリー宜野座スタジアム】</p>
              </li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
</section>

<section class="l-pageGift" id="js-scroll-03">
<h3 class="c-common-headline c-common-headline--gift">プレゼント情報</h3>

<div class="c-pageGift__content">
<div class="c-pageGift__image"><img alt="プレゼントイメージ" src="/img/special/camp-report2025/present01.jpg" /></div>

<div class="c-pageGift__text">
<h4 class="c-pageGift__title">6クール連続視聴者プレゼント！<br />
各クール解説者のサイン入りキャンプ限定帽子</h4>

<p class="c-pageGift__term">第6クールプレゼント受付期間：<br />
2/25（木） 11:00～3/1（月）23:59</p>
</div>
</div>
</section>

<section class="l-pageProgram" id="js-scroll-04">
<h3 class="c-common-headline c-common-headline--contents">オリジナルコンテンツ</h3>

<div class="c-pageProgram">
<article class="c-commonProgram">
<h4 class="c-commonProgram__title">知ればアナタも人気者「虎ヲタ2月号」放送決定!!</h4>

<div class="c-commonProgram__content">
<div class="c-commonProgram__image"><a href="https://youtu.be/9PwWwhEGFnc?t=575" target="_blank"><img alt="「練習試合ウラ実況SP」配信決定!!" src="../../img/special/camp-report2025/image_program_02.jpg" /></a></div>

<div class="c-commonProgram__detail">
<div class="c-commonTag">特別番組</div>

<div class="c-commonProgram__name">～知ればアナタも人気者～ 虎ヲタ</div>

<p class="c-commonProgram__text">
阪神タイガースを記録（データ）から読み解く、新感覚の野球情報番組！<br>
ファン目線のトリビアなものや、新聞記者が持ち込みで紹介するここだけの硬派なネタ、さらには現場へのとっておきのインタビューも交え、阪神を読み解く。
</p>
<p class="c-commonProgram__text">
出演者：増田英彦（ますだおかだ）、関本賢太郎（阪神タイガースOB）、高野勲（日刊スポーツ）
</p>
<dl class="c-commonProgram__text c-commonProgram__dl">
<dt class="c-commonProgram__dt">放送日時：</dt>
<dd class="c-commonProgram__dd">
10/21(水)  後11：00～深1：00<br />
10/24(土)  後7：00～後9：00  ほか
</dd>
</dl>
</div>
</div>
</article>
</div>
</section>

<div class="l-pageBanner">
<div class="m-block-banner">
  <a href="TODO"><img src="/img/special/camp-report2025/banner01.jpg" alt=""></a>
  <p class="m-block-banner__text">待ちに待った新体制阪神タイガース2025春季キャンプを追いかけ、豪華解説陣による今日の猛虎キャンプの振り返り、明日の見どころを連日お届けします。</p>
</div>
</div>

<section class="l-pageSponsor">
<h2 class="m-heading-type02"><span>猛虎キャンプリポート2025<br>スポンサーのご紹介</span></h2>
<div class="un-sponsor">
<div class="un-sponsor-heading"><img src="/img/special/camp-report2025/title02.png"></div>
<dl class="un-sponsor-dl">
<dt>コハラゴム株式会社</dt>
<dd>
コハラゴム株式会社は、1950年に兵庫県神戸市で創業。<br>
国内外の有名ブランドタイヤを多数扱う通販サイト「タイヤホイールプレミアム」を運営しているタイヤ販売・卸売会社です。<br>
「タイヤホイールプレミアム」は、完全屋内倉庫保管のタイヤを低価格、即日発送、製造年表記、全国送料無料でお客様にお届けしております。
</dd>
</dl>
<div class="un-sponsor-link"><a href="TODO" target="_blank">詳細はこちら</a></div>
<div class="un-sponsor-content">
<div class="un-sponsor-content__movie">
<iframe width="452" height="254" src="https://www.youtube.com/embed/vVaHerQxQ0g?si=g3iQHAwCDDGM1pDp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="un-sponsor-content__icon"><img src="/img/special/camp-report2025/icon-sponsor01.png" alt="TIRE Wheel"></div>
<div class="un-sponsor-content__sns">
<b class="un-sponsor-content__snsHeading"><img src="/img/special/camp-report2025/text01.png" alt="follow us"></b>
<p class="un-sponsor-content__snsText">タイヤホイールプレミアム<br>公式SNS</p>
<ul class="m-list-sns">
<li class="m-list-sns__item"><a href="TODO" target="_blank"><img src="/img/special/camp-report2025/icon-sns01.png"></a></li>
<li class="m-list-sns__item"><a href="TODO" target="_blank"><img src="/img/special/camp-report2025/icon-sns02.png"></a></li>
</ul>
</div>
</div>
</div><!-- /.un-sponsor -->
<ul class="m-list-article">
<li class="m-list-article__item">
<div class="m-list-article__image"><img alt="" src="/img/special/camp-report2025/banner02.jpg" /></div>
<div class="m-list-article__content">
<b class="m-list-article__heading">株式会社ワンステップ</b>
<p class="m-list-article__text">いきいき通販は、国内最大級の福祉施設入居者様の「買い物代行業務支援サービス」です。全国で約5,300施設様にご利用いただいています。荷物は入居者様ごとに小分け梱包、送料は弊社負担。食料品・チルド食品から日用品まで、約5,000アイテムを取り揃えています。</p>
<div class="m-list-article__link"><a href="TODO" target="_blank">詳細はこちら</a></div>
</div>
</li>
<li class="m-list-article__item">
<div class="m-list-article__image"><img alt="" src="/img/special/camp-report2025/banner03.jpg" /></div>
<div class="m-list-article__content">
<b class="m-list-article__heading">株式会社インシュアランスサービス</b>
<p class="m-list-article__text">「保険会社の代理人ではなく、お客様の代理人である」を経営理念とし1975年に創業。法人向けリスクマネジメント・コンサルティングを中心に、従来の保険に留まらない幅広いサービスでお客様のリスクに対応しています。</p>
<div class="m-list-article__link"><a href="TODO" target="_blank">詳細はこちら</a></div>
</div>
</li>
<li class="m-list-article__item">
<div class="m-list-article__image"><img alt="" src="/img/special/camp-report2025/banner04.jpg" /></div>
<div class="m-list-article__content">
<b class="m-list-article__heading">大同工業株式会社</b>
<p class="m-list-article__text">大同工業株式会社は、阪神タイガースのシルバーパートナーであり、掛布雅之氏をDIDブランドアンバサダーとして迎えABC虎バンチャンネルで「阪神タイガースDIDアワード」を提供しています。</p>
<div class="m-list-article__link"><a href="TODO" target="_blank">詳細はこちら</a></div>
</div>
</li>
</ul>
</section>

<div class="l-pageFooter">
<div class="c-sptv"><a class="c-sptv-link" href="https://promo.skyperfectv.co.jp/guide/?skya=howto" onclick="ga('send', 'event', 'click', 'camp-report2021_pc');" target="_blank">
<img alt="スカイA見るならスカパー！ スカイAはスカパー！ CS250ch　加入料0円、月額1,529円（税込）、録画OK　お申込み・お問合せはスカイＡ カスタマーセンター　0570-066-250 年中無休（10:00～20:00）　スカイＡはスカパー！、ケーブルテレビ、ひかりTVでご視聴いただけます。　お申込みはこちら" src="/img/special/camp-report2025/banner-sptv.jpg" /> </a>
</div>
</div>
</div>

